{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="Ctrl">
	<div ng-show="user == null">
		<span class="spinner" style="font-size:5em"><i class="glyphicon glyphicon-repeat gly-spin"></i></span>
	</div>
	<div ng-show="user != null">
		<h2>Account #: [[user.id]]</h2>
		<h2>Coins: [[user.coins]]</h2>
		<h2>Inventory:</h2>
	</div>
	<!-- <a href="/logout">logout</a> -->
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function Ctrl($scope, $http) {
	$.get("/api/user/"+localStorage.userId)
	.then(function(resp){
		//console.log(resp.data.coins)
		$scope.user = resp.data
		$scope.$apply()
		// console.log(data)
	})
}
</script>
{% endblock %}