{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="Ctrl" style="text-align:center;">


	<h1>Loggin in</h1>
	<span class="spinner" style="font-size:5em"><i class="glyphicon glyphicon-repeat gly-spin"></i></span>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
var createGuid = function() {
  function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
               .toString(16)
               .substring(1);
  }
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
           s4() + '-' + s4() + s4() + s4();

};

var createOrGetGuestId = function(){
  return $.Deferred(function( defer ) {
    //delete localStorage.guestId
    if(localStorage.guestId){
      defer.resolve(localStorage.guestId)
    }else{
      localStorage.guestId = createGuid()
      app.model.user.create(localStorage.guestId)
      .then(function(resp){

        defer.resolve(localStorage.guestId)
      })
    }
  })
}



function Ctrl($scope, $http) {
  createOrGetGuestId().then(function(id){
    //console.log(id)

     $.ajax({
        type: "POST",
        url: "/login",
        data: decodeURIComponent($.param({username: localStorage.guestId, password: "test"})),
        success: function(resp) {
            localStorage.userId = resp.data.userId
            window.location = resp.data.redirect;
        },
        error: function(resp) {
          //REMOVE IN PRODUCTION~!!!!
           delete localStorage.guestId
          alert("unable to login :(")
        }
      })
  })

  // $scope.login = function(){
  //   // console.log("hit")
  //   //method="post" action="/login"
  //    $.ajax({
  //       type: "POST",
  //       url: "/login",
  //       data: decodeURIComponent($.param({username: localStorage.guestId, password: "test"})),
  //       success: function(resp) {
  //           window.location = resp.data;
  //       },
  //       error: function(resp) {
  //           window.location = resp.data;
  //       }
  //     })
  // }
}
</script>
{% endblock %}